* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: brown;
    text-decoration: none;
}

img {
    width: 320px;
    height: auto;

}

h1, h2, h3 {
    background-color: cornflowerblue;
}
